@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Cormorant:ital,wght@0,300..700;1,300..700&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*All*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  "Lora", Arial, serif;
    font-style: italic;
}

header {
    width: 100%;
    height: 100vh;
}

section {
    padding: 130px 0;
}

.container-custom {
    max-width: 1000px;
    width: 100%;
    padding-right: calc(1.5rem * 0.5);
    padding-left: calc(1.5rem * .5);
    margin-right: auto;
    margin-left: auto;
}

.btn-custom {
    background-color: #fff;
    box-shadow: 4px 4px 8px 0 rgba(142,142,142,0.1);
    font-size: 20px;
    color: #7e756c;
    font-weight: 400;
    padding: 13px 25px;
    border-radius: 0;
}

.btn-custom:hover {
    background-color: #fff;
    color: #7e756c;

}

.section-heading {
    line-height: 56px;
    color: #7e756c;
    font-size: 36px;
    margin-bottom: 35px;
    font-weight: 400;
    text-transform: uppercase;

}

.section-description {
    color: #000;
    font-size: 20px;
    font-family: "Roboto", serif;
    font-style: normal;
    font-weight: 100;
}

body {
    overflow-x: hidden; /* Убедимся, что горизонтальная прокрутка отключена */
}

.fade-in-right {
    opacity: 0;
    transform: translateX(20%);
    transition: opacity 2s ease-in-out, transform 2s ease-in-out;
}

.fade-in-right.visible {
    opacity: 1;
    transform: translateX(0);
}

.fade-in {
    opacity: 0;
    transition: opacity 1.5s ease;
}

.fade-in.visible {
    opacity: 1;
}

/*479 xs*//*639 sm*//*959 md*//*1199 lg*/
/*576px*//*768px*//*992px*//*1200px*/

@media screen and (max-width: 1200px) {
    .section-heading {
        margin-bottom: 10px;
    }
    .section-description {
        font-size: 16px;
    }
}

@media screen and (max-width: 992px) {
    .hide-mobile_2 {
        display: none;
    }
    section {
        padding: 60px 0;
    }
}

@media screen and (max-width: 769px) {
    section {
        padding: 40px 0;
    }

    .hide-mobile_1 {
        display: none;
    }

    .section-date-video {
        top: 0;
        scale: 2;
    }
    .section-date h2:first-child {

    }

    .section-heading {
        font-size: 30px;
    }
}

@media screen and (max-width: 576px) {
    .container {
        max-width: 310px;
    }
}

/* All */

/* Date */

.section-date-wrapper {
    background-color: rgba(0,0,0,.5);
    z-index: 2;
}

.section-date {
    overflow: hidden;
    position: relative;
}

.section-date-video {
    position: absolute;
    z-index: -1;
    width: 100%;
    top: -130vh;
    scale: 1.2;
}

.section-date-content {
    padding: 150px 30px;
    border: 1px #fff solid;
    border-radius: 400px;
    position: relative;
}

.section-date-content:before {
    content: '';
    position: absolute;
    top: -50vh;
    left: 50%;
    transform: translateX(-50%);
    height: 50vh;
    width: 1px;
    background: #fff;
}

.section-date-content:after {
    content: '';
    position: absolute;
    bottom: -50vh;
    left: 50%;
    transform: translateX(-50%);
    height: 50vh;
    width: 1px;
    background: #fff;
}

.section-date h1 {
    line-height: 100%;
    font-size: 9em;
}

.section-date h2:first-child {
    font-size: 3em;
}

.date-img-wrapper {
    overflow: hidden;
    height: 75vh;
}

.date-image {
    position: relative;
    width: 100%;
    top: -15vh;
}

.date {
    position: absolute;
    bottom: 10px;
    left: 38%;
    width: 35%;
    font-size: 100px;
    color: #7e756c;
    font-weight: 400;
}

/*479 xs*//*639 sm*//*959 md*//*1199 lg*/
/*576px*//*768px*//*992px*//*1200px*/

@media screen and (max-width: 1200px) {

    .section-date-content {
        padding: 250px 30px;
    }

    .section-date-video {
        top: -40vh;
        scale: 1.2;
    }

    .section-date h1 {
        font-size: 8em;
    }

    .section-date h2:first-child {
        font-size: 44px;
    }
    .section-date h2 {
        font-size: 34px;
    }

}

@media screen and (max-width: 992px) {

    .section-date h1 {
        font-size: 6em;
    }

    .section-date h2:first-child {
        font-size: 32px;
    }
    .section-date h2 {
        font-size: 24px;
    }

    .section-date-video {
        top: 0;
        scale: 1.5;
    }

    .section-date-content {
        padding: 40vh 30px;
    }

    .date-img-wrapper {
        position: absolute;
        right: 415px;
        width: 384px;
    }

    .section-invite {
        position: relative;
        overflow: hidden;
    }

    .date {
        font-size: 54px;
        bottom: -120px;
    }

    }

    @media screen and (max-width: 769px) {
        .section-date-video {
            scale: 2;
        }

        .section-date h1 {
            font-size: 5em;
        }

        .section-date h2:first-child {
            font-size: 28px;
        }
        .section-date h2 {
            font-size: 20px;
        }

        .section-date-content {
            padding: 300px 30px;
        }

        .date {
            position: static;
            width: 100%;
            text-align: right;
            font-size: 40px;
        }

    }

    @media screen and (max-width: 576px) {
        .section-date h1 {
            font-size: 4em;
        }

        .section-date h2:first-child {
            font-size: 20px;
        }
        .section-date h2 {
            font-size: 18px;
        }

        .section-date-content {
            padding: 300px 15px;
        }
    }
    /* Date */


/* Location */

.section-location-wrapper {
    background-color: #f0f0f0;;
    padding: 85px 0;
    box-shadow: 4px 4px 8px 0 rgba(142,142,142,0.1);
}

.section-location {
    position: relative;
}

.map-wrapper {
    position: absolute;
    top: 12%;
    bottom: 12%;
}

#map {
    position: sticky;
    top: 160px;
}

/*479 xs*//*639 sm*//*959 md*//*1199 lg*/
/*576px*//*768px*//*992px*//*1200px*/


@media screen and (max-width: 1200px) {
    #map {
        width: 440px !important;
        height: 340px !important;
        top: 0;
    }

    .location-row {
        justify-content: space-between;
    }
}

@media screen and (max-width: 992px) {
    .section-location-wrapper {
        padding: 40px 0;
    }

    #map {
        width: 100% !important;
        height: 320px !important;
        top: 0;
    }

    .map-wrapper {
        position: relative;
        top: 0;
        width: 100%;
    }
}

@media screen and (max-width: 769px) {
    .section-location-wrapper {
        padding: 40px 0;
    }

    #map {
        width: 460px !important;
        height: 240px !important;
        top: 0;
    }

    .map-wrapper {
        position: relative;
        top: 0;
    }
}

@media screen and (max-width: 576px) {
    #map {
        width: 308px !important;
        height: 240px !important;
        top: 0;
    }
}

/* Location */

/* Day's Timing  */

.timing-image {
    width: 100%;
    max-height: 750px;
    scale: 1.2;
}

.timing-image-wrapper {
    overflow: hidden;
    height: 100%;
}

.timing-list {
    list-style: none;
    padding-left: 5rem;
}

.timing-time {
    color: #000;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;

}

.timing-description {
    color: #000;
    font-family: "Roboto", Arial, serif;
    font-style: normal;
    font-size: 20px;
    margin-bottom: 35px;
    font-weight: 100;
}

/*479 xs*//*639 sm*//*959 md*//*1199 lg*/
/*576px*//*768px*//*992px*//*1200px*/

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 992px) {
    .timing-list {
        padding: 0;
    }
}

@media screen and (max-width: 769px) {

}

@media screen and (max-width: 576px) {
    .timing-time {
        font-size: 18px;
    }

    .timing-description {
        font-size: 16px;
    }
}

/* Day's Timing  */

/* Dress-code */

.dress-code-color-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
}

.dress-code-color {
    width: 85px;
    min-height: 65px;
    height: 100%;

    box-shadow: 4px 4px 8px 0 rgba(142,142,142,0.1);
}

.dress-code-color__1 {background-color: #fff0e6;}

.dress-code-color__2 {background-color: #ead1c0;}

.dress-code-color__3 {background-color: #e6c0be;}

.dress-code-color__4 {background-color: #cd8d8a;}

.dress-code-color__5 {background-color: #725847;}

.dress-code-color__6 {background-color: #422f22;}

.dress-code-wrapper {
    height: 100%;
    width: 100%;
}

.dress-code__image {
    background-color: rgba(0,0,0,.5);
    z-index: 2;
    box-shadow: 6px 8px 10px 0 rgba(95,124,138,0);
    position: relative;
}

.dress-code__image::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
}

/*479 xs*//*639 sm*//*959 md*//*1199 lg*/
/*576px*//*768px*//*992px*//*1200px*/

@media screen and (max-width: 1200px) {

    .dress-code-color {
        width: 66px;
        min-height: 50px;
    }
}

@media screen and (max-width: 992px) {
    .dress-code-color {
        width: 43px;
    }
}

@media screen and (max-width: 769px) {

    .dress-code-color {
        width: 69px;
        height: 69px;
        min-height: 69px;
    }
}

@media screen and (max-width: 576px) {

    .dress-code-color {
        width: 46px;
        height: 46px;
        min-height: 46px;
    }

}

/* Dress-code */

/* Wishes */

.wishes-card {
    background-color: #f0f0f0;
    box-shadow: 4px 4px 8px 0 rgba(142,142,142,0.1);
    margin: 15px auto;
    padding: 35px 55px 35px 35px;
    position: relative;
}
.wishes-card p {
    margin: 0;
}

.number-wishes-card {
    position: absolute;
    top: -100px;
    right: 20px;
    color: #7e756c;
    font-size: 140px;
    opacity: 0.1;
}

@media screen and (max-width: 1200px) {
    .wishes-card {
        height: 160px;
        padding: 30px 35px 30px 30px;
        display: flex;
        align-items: center;
    }

    .number-wishes-card {
        font-size: 120px;
        top: -90px;
        right: 5px;
    }
}

@media screen and (max-width: 992px) {
    .wishes-card {
        height: 180px;
        padding: 20px 35px 20px 20px;
        display: flex;
        align-items: center;
    }

    .number-wishes-card {
        font-size: 100px;
        top: -60px;
        right: 5px;
    }

}

@media screen and (max-width: 769px) {
    .wishes-card {
        padding: 10px 35px 10px 10px;
        height: 108px;
    }

    .number-wishes-card {
        font-size: 80px;
        top: -60px;
        right: 5px;
    }

}

@media screen and (max-width: 576px) {
    .wishes-card {
        padding: 10px 35px 10px 10px;
        height: 164px;
    }
}


/* Wishes */

/* Contacts */


.contacts-card {
    height: 360px;
    position: relative;
    overflow: hidden;

    background-size: cover;
    background-position: center -73px;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    padding: 20px 35px;
}

.contacts-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.4);
    z-index: 1;
}

.contacts-card.card_2 {
    background-image: url("../img/unsplash_7HvXakRSPZo.png");
}

.contacts-card.card_1 {
    background-image: url("../img/unsplash_RWDB9X1CvwA.png");
}

.contacts-card-content {
    position: relative;
    z-index: 2;
    color: #fff;
}

.contacts-btn {
    font-size: 20px;
    color: #7e756c;
}

.contacts-card-content .name {
    font-size: 32px;
    text-transform: uppercase;
    margin: 0;
}

.contacts-card-content .contact-post {
    font-size: 20px;
    font-family: "Roboto", Arial, serif;
    font-style: normal;
    font-weight: 100;
}

/*479 xs*//*639 sm*//*959 md*//*1199 lg*/
/*576px*//*768px*//*992px*//*1200px*/

@media screen and (max-width: 1200px) {
    .contacts-card {
        padding: 30px;
        background-position: center -50px;
        height: 300px;
    }
}
/*959 md*/
@media screen and (max-width: 992px) {
    .contacts-card-content {
        height: 100%;
    }

    .contacts-card {
        padding: 30px;
        background-position: center -10px;
    }
}
/*639 sm*/
@media screen and (max-width: 769px) {
    .contacts-card {
        height: 300px;
        padding: 20px;
        margin-bottom: 15px;

        background-position: center -90px;
        background-size: 100%;
    }

    .contacts-card-content .name {
        font-size: 24px;
    }

    .contacts-card-content .contact-post {
        font-size: 16px;
        margin: 0;
    }

    .contacts-btn {
        font-size: 16px;
        padding: 10px  16px;
    }

    .contacts-card-content {
        height: auto;
    }
}
/*479 xs*/
@media screen and (max-width: 576px) {

    .contacts-card {
        height: 180px;
        padding: 10px;
        margin-bottom: 15px;

        background-position: center -50px;
    }

    .contacts-card-content .name {
        font-size: 24px;
    }

    .contacts-card-content .contact-post {
        font-size: 16px;
        margin: 0;
    }

    .contacts-btn {
        font-size: 16px;
        padding: 10px  16px;
    }

}

/* Contacts */

/* Telegram */

.tg-contact-wrapper {
    background-color: #f0f0f0;
    padding: 35px;
}

.tg-contact-button {
    display: flex;
    justify-content: end;
    align-items: center;
}


@media screen and (max-width: 576px) {
    .tg-contact-wrapper {
        background-color: inherit;
        padding: 0;
    }

    .tg-contact-button .btn-custom{
        background-color: #f0f0f0;
        width: 100%;
        font-size: 16px;
    }
}

/* Telegram */

/* Timer*/

.timer-block-time {
    padding: 10px 30px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 170px;
}

.timer-nums {
    font-size: 44px;
    font-weight: 400;
    color: #7e756c;

}

.timer-words {
    color: #000;
    font-size: 20px;
    font-family: "Roboto", serif;
    font-style: normal;
    font-weight: 100;
}

@media screen and (max-width: 1200px) {
    .timer-block-time {
        width: 140px;
        /*height: 90px;*/
        padding: 5px;
    }

    .timer-nums {
        font-size: 36px;
    }

    .timer-words {
        font-size: 16px;
    }
}

@media screen and (max-width: 992px) {
    .timer-block-time {
        width: 143px;
        /*height: 72px;*/
        padding: 5px;
    }

    .timer-nums {
        font-size: 32px;
    }

    .timer-words {
        font-size: 16px;
    }
}

@media screen and (max-width: 769px) {
    .timer-block-time {
        width: 108px;
        /*height: 72px;*/
        padding: 5px;
    }

    .timer-nums {
        font-size: 24px;
    }

    .timer-words {
        font-size: 16px;
    }
}

@media screen and (max-width: 576px) {
    .section-timer .section-heading {
        text-align: center;
        line-height: 110%;
    }

    .timer-block-time {
        width: 71px;
        /*height: 72px;*/
        padding: 5px;
    }

    .timer-nums {
        font-size: 22px;
    }

    .timer-words {
        font-size: 14px;
    }
}

/* Timer*/

/* Form */

.form-image-wrapper {
    overflow: hidden;
    position: sticky;
    top: 260px;
    height: 100%;
    max-height: 600px;
}

.form-image {
    width: 100%;
    top: -20%;
    scale: 1;
    position: relative;
}

.form-group {
    margin-bottom: 48px;
    width: 100%;
}

.form-group label {
    width: 100%;
}

.text-input {
    border: none;
    border-bottom: 1px solid rgb(126, 117, 108);
    width: 100%;
    padding: 5px 0;
    font-family: "Roboto", serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 100;
}

.text-input:focus-visible {
    box-shadow: none;
    outline: none;
}

.text-input::placeholder {
    color: #7e756c;
    opacity: .3;
}

label span {
    color: #000;
    font: 100 20px "Roboto", serif;
    user-select: none;
}

.custom-checkbox>input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-checkbox:hover {
    cursor: pointer;
}

.custom-checkbox>span {
    display: flex;
    align-items: center;
    gap: 10px;
}

.custom-checkbox>span::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #7e756c;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 60%;
}

.custom-checkbox>input:checked+span::before {
    background-image: url("../img/checkboxChecked.svg");
}

.custom-radio>input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-radio>span::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    border: 2px solid #7e756c;
    border-radius: 50%;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 60% ;
}

.custom-radio>input:checked+span::before {
    background-image: url("../img/radioChecked.svg");
}

.btn-form {
    width: 100%;
    color: #7e756c;
    background-color: #f0f0f0;
    text-transform: uppercase;
    padding: 20px;
    transition: 0.3s ease all;
}

.btn-form:hover {
    color: #000000;
    background-color: #f0f0f0;
}

.iti.iti--allow-dropdown.iti--separate-dial-code {
    width: 100%;
}

/* Стили для dropdown-меню */
.iti__country-list {
    max-height: 200px !important; /* Максимальная высота dropdown */
    overflow-y: auto; /* Добавляем прокрутку, если содержимое превышает высоту */
    margin: 0 !important; /* Убираем отступы */
    padding: 0 !important; /* Убираем внутренние отступы */
    left: 0 !important; /* Выравнивание по левому краю input */
    top: 36px !important; /* Позиционирование под input */
    border: 1px solid #ccc; /* Граница для dropdown */
    border-radius: 4px; /* Скругленные углы */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Тень для эффекта */
    z-index: 1000; /* Чтобы dropdown отображался поверх других элементов */
}

.iti--separate-dial-code .iti__selected-flag, .iti--allow-dropdown .iti__flag-container:hover .iti__selected-flag {
    background-color: #fff;
}

/* Стили для элементов списка в dropdown */
.iti__country-list .iti__country {
    padding: 8px; /* Отступы внутри элементов списка */
}

.iti__country-list .iti__country:hover {
    background-color: #f0f0f0; /* Цвет фона при наведении */
}

/* Стили для input-поля */
.iti__input {
    width: 100% !important; /* Ширина input равна ширине контейнера */
    box-sizing: border-box; /* Чтобы padding не увеличивал размер */
}

/* Стили для флага и выбранной страны */
.iti__flag-container {
    margin-right: 5px; /* Отступ между флагом и номером */
}
@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 992px) {
    .form-image-wrapper {
        top: 120px;
    }

    .form-group {
        margin-bottom: 12px;
    }

    .custom-radio, .custom-checkbox {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 769px) {

}

@media screen and (max-width: 576px) {
    .text-input {
        font-size: 15px;
    }

    .text-input::placeholder {
        opacity: .5;
    }

    .form .section-description {
        margin-bottom: 8px;
    }

    label span {
        font-size: 16px;
        display: flex;
        align-items: center;
    }

    .custom-radio>span::before, .custom-checkbox>span::before {
        font-size: 20px;
    }

}

/* Form */


/* creators */
.section-creators {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #f0f0f0;
    padding: 25px 60px;
    margin: 0;

    color: #7e756c;
    font-size: 14px;
}

.creator-link {
    color: #7e756c;
    font-weight: 700;
    text-decoration: none;
}

.messengers {
    display: flex;
    justify-content: right;
}

.messengers img{
    margin: 0 5px;
}


@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 992px) {
    .section-creators {
        font-size: 12px;
    }

    .messengers img{
        width: 30px;
        margin: 0 5px;
    }

}

@media screen and (max-width: 769px) {
    .section-creators {
        padding: 20px 15px;
        font-size: 12px;
    }
    .messengers img{
        width: 28px;
        margin: 0 2px;
    }
}

@media screen and (max-width: 576px) {
    .messengers img{
        width: 25px;
    }
}

/* creators */


/* footer */

.footer-rights {
    font-size: 10px;
    font-style: normal;
    font-family: "Roboto", serif;
    color: #000;

    padding: 25px 80px;
}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 992px) {

}

@media screen and (max-width: 769px) {
    .footer-rights {
        font-size: 8px;
        padding: 10px 30px;
    }
}

@media screen and (max-width: 576px) {
    .footer-rights {
        font-size: 8px;
        padding: 10px 10px;
    }
}

/* footer */